@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --text-fw: 500;
  --username-fw: 400;
  --social-fw: 700;

  /* colors */

  --img-border-color: #22333b;
  --name-color: hsla(30, 11%, 4%, 0.863);
  --username-color: hsla(30, 11%, 4%, 0.863);
  --bg-color: #eae0d5;
  --links-bg-color: #22333b;
  --links-box-shadow: 0px 0px 5px 5px rgba(34,51,59,0.2);
  --links-hover-color: #22333ba9;
  --links-text-color: #eae0d5;
  --btn-toggle-bg: rgba(34,51,59,0.2);
  --footer: #383838;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* dark mode */

.dark-mode {
  --img-border-color: #eae0d5;
  --name-color: #eae0d5;
  --username-color: #eae0d5;
  --username-dark-hover: #eae0d5;
  --bg-color: hsla(30, 11%, 4%, 0.863);
  --links-bg-color: #eae0d5;
  --links-box-shadow: 0px 0px 5px 5px hsla(33, 32%, 88%, 0.055);
  --links-hover-color: hsla(31, 33%, 88%, 0.2);
  --links-text-color: #22333b;
  --btn-toggle-bg: ;
  --btn-toggle-text: #eae0d5;
  --btn-toggle-border: #eae0d5;
  --footer: #eae0d5;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.info > img {
  width: 150px;
  padding: 5px;
  border-radius: 50%;
  border: 7px solid var(--img-border-color);
}

.info > h1 {
  font-size: 2rem;
  color: var(--name-color);
}

.info > p {
  font-family: 'Roboto Mono', monospace;
  color: var(--username-color);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

a {
  width: 100%;
  padding: 15px 80px;
  text-align: center;
  border-radius: 6px;
  background-color: var(--links-bg-color);
  box-shadow: var(--links-box-shadow);
  color: var(--links-text-color);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

a:hover {
  color: var(--username-dark-hover);
  background-color: var(--links-hover-color);
  align-self: center;
  transition: all 0.5s ease-in-out;
}

footer {
  margin-top: 40px;
  text-align: center;
  font-size: 0.75rem;
  color: var(--footer);
}

#btn-toggle {
  padding: 10px;
  color: var(--btn-toggle-text);
  background-color: var(--btn-toggle-bg);
  border: 0.8px solid var(--btn-toggle-border);
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: var(--social-fw);
  text-transform: uppercase;
}

#btn-toggle:hover {
  cursor: pointer;
}
